@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

* {
	padding:0;
	margin:0;
}

html, body {
	line-height: 1;
	min-height:100%;
	height:100%;
}

body{
	font-family: 'Amatic SC',Verdana, Arial, sans-serif;
	font-weight:400;
	font-size: 50px;
	color: #455a64;
	background-color: #FFF;

	overflow-x:hidden;
}
body.pl{
	background-color: #fc9d9a;
}
body.pt{
	background-color: #03a9f4;
}

.skrollr-desktop body {
	height: 100% !important;
}

#container {
	height:100%;
}

.active{
	background: green;
}

#navigation{
	position:fixed; 
	height:50px; 
	line-height: 50px;
	width:100%; 
	top:0;
	left:0; 
	z-index:5000;

	font-size:20px;

	color: #FFF;
	background: #506873;

	-webkit-box-shadow: 0 6px 10px -3px #424242;
	box-shadow: 0 6px 10px -3px #424242;

}

.pl #navigation {
	background-color: #fc9d9a;
}
.pt #navigation {
	background-color: #03a9f4;
}

#anchors {
	position:absolute;
	top: 0;
	right: 0;
	height:100%;
}

#anchors a {
	text-decoration: none;
	color:#FFF;
	background:none;
	padding:0 10px;
}
#anchors a.active,
#anchors a:hover {
	font-size: 1.1em;
}


.names{
	cursor:pointer;
	color: #FFF;
}
.names:hover{
	font-size:1.1em;
}


p{
	background: transparent;
	text-align: center;
	font-size: 50px;
	padding: 60px 15%;
	margin: -15px auto;
	line-height: 1.2;
}

a {
	text-decoration: none !important;
}

.pl .direct,
.pl a.direct{
	background-color: #fc9d9a;
	color: #FFF;
}
.pt .direct,
.pt a.direct{
	background-color: #03a9f4;
	color:#fff;
}
.inverse {
	background-color: #FFF;
}
.pl .inverse,
.pl a.inverse {
	color: #fc9d9a;
}
.pt .inverse,
.pt a.inverse {
	color: #03a9f4;
}
.highlight {
			-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s ease-out;
}
.pl .direct.highlight:hover{
		background: #ff4081;
}
.pt .direct.highlight:hover{
		background: #6889ff;
}
.pl .inverse.highlight:hover{
	color: #ff4081;
}
.pt .inverse.highlight:hover{
	color: #6889ff;
}

.separator{
	position:relative;
	z-index:100;
	width: 100%;
	height: 20px;
	-webkit-box-shadow: 0 6px 10px -3px #424242;
	box-shadow: 0 6px 10px -3px #424242;
}
.shadow{
	-webkit-box-shadow: 6px 6px 10px -3px #424242;
	box-shadow: 6px 6px 10px -3px #424242;
}

.parallax {
	position:relative;
	z-index:-100;
	width:100%;
}

#intro {
	position: relative;
	height:100%;
	background: #506873;
	position:fixed;
	width:100%;
	color: #FFF;

	font-size:100px;
	text-align:center;
	vertical-align: middle;
}

#intro .upArrow {
	position:absolute;
	width: 100%;
	top:10px;
	left: 0;
}

#intro .downArrow {
	position: absolute;
	width: 100%;
	bottom:10px;
	left: 0;
}

#intro .upArrow div{
	font-size: 20px;
	text-align: center;
	position: absolute;
	width: 100%;
	top:100%;
	left: 0;
}

#intro .downArrow div{
	font-size: 20px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom:60%;
	left: 0;
}

#intro .anchor {
	position: absolute;
	width: 100%;
	top:50%;
	margin-top:-70px;
}
#intro .anchor span{
	height: 100%;
	display:inline-block;
	position: relative;

	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;

  width:auto;

}
#intro .aga, #intro .ric {
	cursor: pointer;
	width: 300px;
}
#intro span div {
	position:absolute;
	bottom: -70px;
	left: 0;
	width: 100%;
	font-size: 20px;
	height: 40px;
	display: inline-block;
	visibility: hidden;
	text-align: center;
}
#intro span:hover div{
	visibility: visible;
}

.pt #intro .aga,
.pl #intro .ric,
.pt #intro .sep,
.pl #intro .sep {
	opacity: 0.5;
}

.pl #intro {
	background-color: #fc9d9a;
}
.pt #intro {
	background-color: #03a9f4;
}

#intro .aga:hover {
	color: #fc9d9a;
}
#intro .ric:hover {
	color: #03a9f4;
}
.pl #intro .names:hover,
.pt #intro .names:hover{
	color:#FFF;
}


#parents {
	position: relative;
	display:block;
	float:left;
	height:400px;
	padding:0;
	width:100%;
	padding:0 30%;
	vertical-align: middle;
	overflow: hidden;
}
#parents div{
	width:400%;
	height:100%;
	position: absolute;
}
#parents img {
	height:100%;
	display: block;
	float:left;
}


#europe {
	width:100%;
	position:relative;
}
#europe img {
	height:515px;
	width: 100vw ;
}
#europe .pathOverlay{
	position: absolute;
	top: 0;
	right: 0;
	width:100%;
	height:515px;
	overflow:hidden;
}
#europe .pathOverlay img{
	position: absolute;
	top: 0;
	width:99vw;
	right:0;
}


#date{
	padding:80px 20%;
}

#chalk{
	height:800px;
	overflow: hidden;
}
#chalk img{
	position:relative;
	top:-300px;
}


#venue a:hover {
	text-decoration: none;
}


#venuecontainer {
	position: relative;
	width: 100%;
	height: 600px;
}

#venuecontainer > * {
	position:absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;

		-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;
}

#venuecontainer > iframe:not(:hover),
#venuecontainer > img:hover {
	opacity:0;
}



#hotels {
	padding: 50px 10%;
}

#hotels a {
	width: 100%;
	height: 100%;
	display:block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	position: relative;
	overflow: hidden;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s ease-out;
}
#hotels a:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05, 1.05);


}
#hotels div {
	margin-bottom: 30px;
	height:200px;
}
#hotels span {
	font-size: 30px;
	height:80px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
#hotels span.name{
	z-index:400;
	background-color: transparent;
}
#hotels span.transparent{
		opacity:0.7;
}

#hotels img {
	width: 140%;
	height: 140%;
}


#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}
.skrollr .gap {
	background:transparent !important;
}



.upArrow:before{
	content:'\2039';
	font-size:80px;
	display:inline-block;

	-webkit-transform: rotate(90deg);  
	  	-ms-transform: rotate(90deg);  
	      	transform: rotate(90deg);
}

.downArrow:before{
	content:'\2039';
	font-size:80px;
	display:inline-block;

	-webkit-transform: rotate(-90deg);  
	  	-ms-transform: rotate(-90deg);  
	      	transform: rotate(-90deg);
}

#special{
	text-align: center;
	padding-bottom: 20px;
}
ul {
	display: inline-block;
}
.pt li{
	list-style-image: url('assets/img/pt_heart.svg');
}
.pl li{
	list-style-image: url('assets/img/pl_heart.svg');
}

[ng-cloak]{
	display:none !important;
}

#fallback{
	height:100%;
	width:100%;
}

#fallback p {
	font-size: 40px;
	text-align: center;
}
